.branding-bpm {
    font-size: 60px;
    margin-bottom: 20px;
}

.heart {
  color: #4582EC;
}

.heartbeat {
  color: #d9534f;
}

.weight {
  color: #02B875;
}

.note {
  color: #f0ad4e;
}

.icon {
    font-size: 40px;
    margin: 5px;
}

.icon-div {
    margin-bottom: 20px;
}