.entries-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Entries Header
.entries-header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;

  .entries-header-options {
    height: 100%;
    display: flex;
    align-items: center;

    .entries-header-option {
      margin: 0 3px;
      padding: 10px 10px;
      cursor: pointer;
      font-weight: 500;
      text-decoration: none;
      border: none;
      background: transparent;
    }
    .entries-header-option:hover {
      color: #4582EC;
    }
  }
}

.entries-header-heart-outline {
    font-size: 18px;
    color: #676c72;
}

// Entries Table
.table {
    text-align: left;
    align-self: center; 
}

.table-note {
    color: grey;
    border-top: none !important;
    padding-top: 0px !important;
}

.icon-btn {
    border: none;
    background-color: white;

    &:focus {
        outline: none;
    }
}

.pencil-icon {
    color: #f0ad4e;
}

// Media Queries
@media (min-width: 576px) {
    .table {
        max-width: 500px;
        margin: 0 20%;
    }
}