.sign-in {
    width: 300px;
    display: flex;
    flex-direction: column;
    
    .title {
        margin: 10px 0;
    }

    .button {
        margin-bottom: 50px;
    }

    span {
        font-size: 20px;
    }
    
    .sign-up-message {
        color: grey;
    }
}