.new-entry-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    margin: 0 auto;
}

.entry-form-textarea {
    width: 100%;
    padding: 10px;
    margin: 25px 0 45px 0;
    border: 1px solid grey;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    &:focus {
      outline: none;
    }
}