.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;

  .options {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 10px;
      cursor: pointer;
      font-weight: 500;
      text-decoration: none;
    }
    .option:hover {
      color: #4582EC;
    }
  }
}

.heart-outline {
    font-size: 18px;
    color: #676c72;
}