body {
    font-family: 'Open Sans Condensed';
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

.App {
  text-align: center;
}

/* Medium devices 768px and up */
@media only screen and (min-width: 768px) {
    body {
        padding: 20px 0;
    }
}